@import 'main.css';
@import 'texto-h1.css';
@import 'textp-h2.css';
@import 'texto-p.css';
@import 'button.css';
*, *::before, *::after
{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.menu 
{
    background-color: #4DACE1;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 200px;
    height: 70px;
    
}

.logo
{
    margin-right:200px ;
}

.menu_items
{
    display: flex;
    list-style: none;
    margin-left: 100px;
}

.menu_items li 
{
    border-radius: 3px;
    margin: 0 5px;
}

.menu_items li a
{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: #fff;
}

.menu_items li:hover, li:active
{
    background-color: rgba(0, 0, 0, .3);
    transition: .4s;
}

.btn_menu
{
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;

}

ul.show
{
    top: 80px;
}

@media screen and (max-width: 1100px) 
{
    .menu_items
    {
        padding-right: 200px;
        width: 70%;
    }

    .menu_items li a {
        font-size: 16px;
    }

    .logo{
        padding-left: 100px;
        width: 10%;
    }


    
}


@media screen and (max-width: 952px)
{
    .logo
    {
        padding-left: 35px;
        width: 10%;
    }

    .menu_items{
        width: 65%;
    }

    .menu_items li a 
    {
        font-size: 16px;
        
    }
}

@media screen and (max-width: 858px)
{
    .menu
    {
        height: 80px;
    }
    .btn_menu
    {
        display: inline-flex;
        padding-left: 70px;
    }

    .menu_items
    {
        position: fixed;
        width: 130vw;
        height: calc(100% - 250px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }

    .menu_items li 
    {
       margin: 30px 10px 0 50px;
       line-height: 30px; 
       
    }

    .menu_items li:hover
    {
        background: none;
    }

    .menu_items li a 
    {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }

    .menu_items li a:hover
    {
        color: #4DACE1;
    } 

    .logo
    {
        padding-left: 35px;

    }

    /* Responsive main */


    .nav-div__inicio{
        flex-direction: column;

    }
    
    .nav-div-section__contenido
    {
        width: 100%;
        
    }

    .nav-div-img__image1
    {
        width: 100%;
    }

    .nav-div-img__image1 img 
    {
        width: 300px;
    }

    /* INFRAESTRUCTURA CLOUD */

    .Infra-cloud
    {
        flex-direction: column;
    }

    .texto-infra-cloud
    {
        width: 100%;
    }

    .infra-cloud--image
    {
        width: 100%;
    }

    .infra-cloud--image img 
    {
        width: 250px;
    }

}

@media screen and (max-width: 858px) and (orientation: landscape)
{
    .menu_items li 
    {
        margin: 5px 0 0 0;
    }

    .menu_items
    {
        overflow: scroll;
        height: calc(100% - 65px);
    }

    .nav-div__inicio
    {
        flex-direction: column;
    }
}