

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;  /*Para trabajar con REM. 62.5% = 10px*/
}

.header-logo {
    width: 30vw;
}

.header-logo img {
    width: 17rem;  /*1REM = 10px, teniendo en cuenta que el valor de font-size de "html" es 62.5%*/
    height: 6rem;
    margin: 1rem 1rem;
    position: relative;
    left: 15rem;
    top: 2rem;
}

.div-lista-menu {
    margin: 2rem;
    display: flex;
}

.header-menu {
    display: flex;
    border-bottom: 1px solid;
    width: 100vw;
}

.div-lista {
    width: 70vw;
    padding: 0 20rem;
}

.div-lista-menu li {
    list-style: none;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    right: 0;
}

.div-lista-menu li a {
    list-style: none;
    color: black;
    text-decoration: none;
}

@media (max-width:1100px){
    .div-lista {
        width: 70vw;
        padding: 0 5rem;
    }

    .header-logo img {
        left: 8rem;
        
    }
}

@media (min-width: 1400px){
    .div-lista{
        max-width: 140rem;
    }
    .header-logo{
        max-width: 140rem;
    }
}